# Configuration specific to arte.tv

# Use defaults from the root config
# This doesn't work. Submit issue on GitHub and then perhaps PR if maintainers want this feature
--config-location $XDG_CONFIG_HOME/youtube-dl/.config/config

# Download the best video format and the best audio for French and German
# Is it possible to filter audio by language?
